<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/* 
 *Copyright (C) 2017 Peter Varney - All Rights Reserved
 * You may use, distribute and modify this code under the
 * terms of the MIT license, 
 *
 * You should have received a copy of the MIT license with
 * this file. If not, visit : https://github.com/fatalwall/BridgeDirectConnect
 */ 
-->
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="None" />
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="InternalParent" stopProcessing="true">
            <match url="^(\d{1,45})/?$" />
			<action type="Rewrite" url="External/?AccessCode={R:1}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
	<appSettings>
		<add key="MeetingNumber" value="866-209-1307"/>
		<add key="Company" value="Amtrak"/>
		<add key="attURL" value="https://www.teleconference.att.com/amtrak/connectmeeting"/>
	</appSettings>
</configuration>
