<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/* 
 *Copyright (C) 2017 Peter Varney - All Rights Reserved
 * You may use, distribute and modify this code under the
 * terms of the MIT license, 
 *
 * You should have received a copy of the MIT license with
 * this file. If not, visit : https://github.com/fatalwall/BridgeDirectConnect
 */ 
-->
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Windows" />
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="AccessCode">
            <match url="^(\d{1,45})/?$" />
            <action type="Rewrite" url="?AccessCode={R:1}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
	<appSettings>
		<add key="MeetingNumber" value="8662091307"/>
		<add key="Brand" value="amtrak"/>
	</appSettings>
</configuration>
